html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    text-align: center;
}

.header {
    color: grey;
    font-weight: 900;
    font-size: 5em;
    padding: .2em;
}

.name {
    color: #bab5a2;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */
.item {
    flex: 20%;
    max-width: 20%;
    position: relative;
}

.item img {
    vertical-align: middle;
    width: 100%;
}

.item .desc {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: #333333;
    font-size: 1.1em;
    font-weight: 200;
    text-align: left;
    background: #FFFFFF;
}

.hover_wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-out;
}
.label{
    color: #656565;
    font-weight: 300;
    position: absolute;
    text-align: center; 
    top: .3em;
    width: 100%;
    font-size: 1.5em;
}
.price{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background: #bab5a2;
/*    background: #e4cd5a;*/
}
.price p {
    color: white;
    font-weight: 900;
    font-size: 2.5em;
    text-align: center; 
    padding: 0;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.hover_wrapper:hover{
    opacity: 1;
}

@media screen and (max-width: 1300px) {
    .label{
        font-size: 1em;
    }
}

@media screen and (max-width: 1200px) {
    .label{
        font-size: 1.2em;
    }
    .item {
        flex: 25%;
        max-width: 25%;
    }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {

    .price {
        font-size: 1.5em;
    }
    .item {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .label {
        font-size: 2em;
    }
    .item {
        flex: 100%;
        max-width: 100%;
    }
}

